node_modules
dist
.vscode
.idea
*_verification_*.webp
*.log
analyze_colors.py
analyze_colors_v2.py
convert_logo_to_svg.py
remove_bg_svg.py
web-design-agency-html-template.jpg
img/carousel-*.jpg
img/about.jpg
img/feature.jpg
img/service-*.jpg
img/project-*.jpg
img/team-*.jpg
img/testimonial-*.jpg
